:root {
	/*Color Scheme*/
	--cs-white: #fff;
	--cs-black: #272527;
	--cs-gray: rgb(86, 84, 86);
	--cs-lgray: rgb(129, 126, 129);
	--cs-bk: rgb(44,49,86);

	/*Accent Color Schemes*/
	--cs-url: rgb(211, 170, 69);
	--cs-select: rgb(87,181,157);
	--cs-title: #1bf3bd;
}

html{
	background-color: var(--cs-bk);
	padding: 2%;
}

body{
	padding: 2%;
	color: var(--cs-white);
	font-family: 'Open Sans', sans-serif;
}

h1{
font-family: 'Nanum Gothic', sans-serif;
font-size: 40px;
letter-spacing: 2px;
color: var(--cs-title);
}

h3{
font-family: 'Nanum Gothic', sans-serif;
font-size: 28px;
letter-spacing: 2px;
color: var(--cs-blah);
}

h5{
font-family: 'Nanum Gothic', sans-serif;
font-size: 22px;
letter-spacing: 2px;

color: var(--cs-blah);
}
p {
font-size: 18px;
letter-spacing: 1px;
}

.cropselection {
	text-align: center;
	width: 100%;
}

.cropitem {
padding: 1%;
border: transparent solid 5px;
border-radius: 10px;
}

/* .cropitem:hover {
border-bottom: var(--cs-select) solid 2px;
} */

.croppic{
width: 70px;
}
.stroke {
fill: none;
stroke: #000;
stroke-width: 1px;
}

.fill {
fill: #f2f2f2;
}

.graticule {
fill: none;
stroke: #fff;
stroke-width: .5px;
stroke-opacity: .5;
}

.boundary {
fill: none;
stroke: #fff;
stroke-width: 1px;
}

.references{
text-align: center;
}
